
<div class="center-box">
  <div class="middle"><h1>Confirm your order</h1></div>
  <h3>Selected Route</h3>
  <div class="route-info-container box-frame">
    <div class="labelinput">
      <label for="destinations" class="form-label">Route</label>
      <div name="destinations" class="form-control route-info-item">
        {{ route.startDestination }} - {{ route.targetDestination }}
      </div>
    </div>

    <div class="labelinput">
      <label for="shippingdate" class="form-label">Shipping Date</label>
      <div name="shippingdate" class="form-control route-info-item">
        {{ route.shippingDate }}
      </div>
    </div>

    <div class="labelinput">
      <label for="parceltype" class="form-label">Parcel Type</label>
      <div name="parceltype" class="form-control route-info-item">
        {{ route.parcelType }}
      </div>
    </div>
    <div class="labelinput">
      <label for="traveltime" class="form-label">Travel Time</label>
      <div name="traveltime" class="form-control route-info-item">
        {{ route.travelTime }}h
      </div>
    </div>
    <div class="labelinput">
      <label for="price" class="form-label">Price</label>
      <div name="price" class="form-control route-info-item">
        ${{ route.price }}
      </div>
    </div>
  </div>

  <mat-expansion-panel
(opened)="panelOpenState = true"
(closed)="panelOpenState = false" 
class="accordion-style"
>
<mat-expansion-panel-header class="acc-title">
<mat-panel-title >  Journey </mat-panel-title>
</mat-expansion-panel-header>
<ul *ngFor="let routeStop of route.route">
<li>{{ routeStop }}</li>
</ul>
</mat-expansion-panel>
    


  <table class="table box-frame">
    <tr>
      <td style="font-weight: 500;">Summary:</td>
    </tr>
    <tr>
      <td>Parcel 36832176:</td>
      <td class="price">$100</td>
    </tr>
    <tr>
      <td>Signed Parcel:</td>
      <td class="price">$10</td>
    </tr>
    <tr>
      <td>Processing Fee:</td>
      <td class="price">$1</td>

    </tr>
    <tr>
      <td style="font-weight: 500;">Total:</td>
      <td class="price">$111</td>
    </tr>
    </table>

    <div class="wrapper">
      <a routerLink="/send-parcel" class="btn btn-primary telstar-button confirm-button">Confirm</a>
    </div>


</div>




