<div class="center-box">
  <div class="box-title">Reset your password</div> <br/>
  <form [formGroup]="reset">
    <div class="form-group">
      <label for="exampleFormControlInput1">Password</label>
      <input type="password" class="form-control" formControlName="password" name="password" placeholder="Enter new password">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Repeat password</label>
      <input type="password" class="form-control" formControlName="repeatPassword" name="repeatPassword" placeholder="Repeat new password">
    </div>
  </form>
  <div class="wrapper">
    <button class="button btn btn-primary telstar-button" routerLink="/send-parcel">
        Send
    </button>
  </div>
</div>
